nav{
    display: block;
    border: 2px solid blue;
}
body{
    margin: 0;
    width: 100%;
}
.left{
    float: left;
    opacity: 0.8;
}
.right{
    float: right;
    margin-right: 25px;
}
#google{
    width: 270px;
    height: 95px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid red;
    
}